{% extends "layout.html" %} 
{% block title %} 
Home page 
{% endblock %} 
{% block java%}
src="/static/main.js"
{% endblock %}

{% block nav %}

  <a href="/result">نتايج التحاليل</a>
  <a href="/family">اضافة الاسرة</a>
  <a href="/logout">تسجيل الخروج</a>

{% endblock %}

{% block main %} 

  <h1> مرحباً {{ id }} </h1>
  <section >
    <article >
        <h2>معمل المصطفى دقه فى النتائج سرعة جودة</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, repudiandae placeat doloremque sint qui quos ratione beatae porro obcaecati hic deleniti ex voluptatum. Quo, qui fugiat ipsam impedit porro suscipit.</p>
    </article>
    <p>يوجد لدينا طاقم على اعلى مستوى</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <aside>
    <button id="visit">حجز زيارة منزلية</button>
    <button>خدمات تمريض</button>
    <button>شروط التحليل</button>
    <div style="height: inherit;margin-top: 15px;">
      <div class="AD1">
          <h3>د/مروة على عبد الله</h3>
          <h4>
                <p> اخصائى اطفال و حديثى الولادة</p> 
                <p>برج العرب القديم -شارع السنترال - عمارة النائب رزق جالى</p>
                <p>للتواصل  و الحجز</p>
          </h4>
      </div>
      <div class="AD2">
          <!-- <h3>د/احمد العصران</h3>
          <h4><p> اخصائى باطنة و كلى</p> 
                <p>برج العرب الجديدة - المسجد العتيق بجوار الشهر العقارى
                0101235465486
          </p></h4> -->
          <img src="/static/Untitled-2.jpg" height="100%" width="100%"/>
      </div>
      <div class="AD3">
          <h3>د/اسلام ابو نصره</h3>
          <h4>
                <p> اخصائى امراض نسا و توليد</p> 
                <p>برج العرب الجديدة - مدخل 1200 - امام مركز د/سعيد عبد الفضيل </p>
                <p>للتواصل  والحجز</p>
          </h4>
      </div>
    </div>
  </aside>

{% endblock %} 