{% extends "layout.html" %}

{% block title %}

  تسجيل الدخول

{% endblock %}

{% block nav %}

  <a href="/signup">تسجيل حساب</a>

{% endblock%}

{% block main %}

  <form action="/login" method="post">
    <input type="text" name="name" autocomplete="off" autofocus placeholder="الاسم">
    <input type="password" name="password" autocomplete="off" placeholder="الرقم السرى">
    <input type="submit" value="تسجيل الدخول">
  </form>
  {% if c %}
    <p class="warrning">{{ c }}</p>
  {% endif %}

  {%endblock%}