{% extends "layout.html" %}

{% block title %}
  visit
{% endblock %}

{%block nav%}
  <a href="/">الصفحة الرئيسية</a>
{% endblock %}

{% block main %}
  <form action="/visit" method="post">
    <input type="text" name="name" autocomplete="off" autofocus placeholder="اسم الحالة">
    <input type="text" name="age" autocomplete="off" autofocus placeholder="السن">
    <input type="text" name="doc" autocomplete="off" autofocus placeholder="اسم الدكتور">
    <input type="text" name="adress" autocomplete="off" autofocus placeholder="العنوان">
    <input list="tests" placeholder="التحليل المطلوب">
    <datalist id="tests">
      {% for test in tests %}
        <option value="{{test['name']}}">{{test['name']}}</option>
      {% endfor %}
    </datalist>
    <input type="submit" value="حجز">
  </form>
  <table>
    <thead>
      <tr>
        <th>السعر</th>
        <th>اسم التحليل</th>
      </tr>
    </thead>
    <tbody>
      <!-- {% for test in tests %}
        <tr>
          <td>{{test['price']}}</td>
          <td>{{test['name']}}</td>
        </tr>
      {% endfor %} -->
      <tr>
        <td></td>
        <td>الاجمالى</td>
      </tr>
    </tbody>
  </table>
{% endblock %}